body {
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.info {
    color: #939393;
    font-size: 13px;
    line-height: 17px;
}

.note a {
    text-decoration: none;
    color: rgb(0, 100, 168);
    border-bottom: 1px solid;
    border-color: rgba(0, 102, 172, 0.20);
}
.note a:hover {
    color: rgb(160, 48, 0);
    border-color: rgba(160, 48, 0, 0.2);
}

.note {
    margin-bottom: 70px;
    margin-left: 8%;
}
.note h2.title{
    text-transform: capitalize;
    font-size: 32px;
    line-height: 40px;
}